body {
  background-image: url("../images/bj.game.bg.jpg");
  text-align: center;
  width: 100%;
  height: 10vh;
}

h1 {
  font-family: 'Notable', sans-serif;
}

#message {
  margin: 20px;
}

.buttons {
  margin: 25px;
}

#play-button {
  margin-right: 20px;;
}

#header {
  margin: 25px;
}

#cards-output {
  font-size: 1.5em;
}

.clubs,.spades {
  color: black;
}

.hearts,.diams {
  color: red;
}